PORT=5000

DATABASE_URL=postgresql://<user>:<password>@<endpoint-id>-pooler.<region>.aws.neon.tech/<database>?sslmode=require

DATABASE_URL_DIRECT=postgresql://<user>:<password>@<endpoint-id>.<region>.aws.neon.tech/<database>?sslmode=require

# upstash
UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN


# JWT SECRET KEY

SECRET_KEY

NODE_ENV="development"

# CLOUDINARY_____________________________________________________________________________________________________________________________________________________

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

# CLIENT URL__________________________________________________________________________________________________________________________________________________________________________

CLIENT_URL